    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
    }
    
     :root {
        --color-background: #f2f2f2;
        --color-primary: #5F7A61;
        --color-secondary: #444941;
        --font-noto: 'Noto Sans JP', sans-serif;
        --font-roboto: 'Roboto', sans-serif;
        font-size: 62.5%;
        font-family: 'Noto Sans JP', sans-serif;
        scroll-behavior: smooth;
    }
    
    body {
        background: var(--color-background);
        /* Estilos header */
    }
    
    .logo {
        width: 7rem;
        height: 10rem;
    }
    
    .h1 {
        /* titulos */
        font-size: 3.2rem;
        color: var(--color-secondary);
        text-align: center;
        margin-top: 3rem;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    .titleHeader a img {
        height: 80px;
    }
    
    .titleHeader {
        display: flex;
        width: 20rem;
        margin: 0 auto;
        cursor: pointer;
    }
    
    .titleHeader a {
        font-size: 4.5rem;
        font-weight: 800;
        /* margin: 25px auto; */
        text-align: center;
        font-family: 'Noto Sans JP', sans-serif;
        color: #444941;
        text-decoration: none;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.233);
    }
    /* fin de Estilos header */
    /* estilos nav */
    
    nav {
        width: 65%;
        height: 44px;
        font-size: 1.6rem;
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
        font-family: 'Noto Sans JP', sans-serif;
        background-color: #5F7A61;
        border-bottom: 4px solid black;
    }
    
    .nav__ul {
        display: flex;
        justify-content: center;
    }
    
    .nav__link {
        display: block;
        background-color: var(--color-primary);
        padding: 8px 25px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        min-width: 121.73px;
        border-bottom: 3px solid black;
    }
    
    .nav__link:hover {
        background: #444941;
        color: #D5EEBB;
        transition: .5s;
    }
    
    a.active {
        background: #4a574b;
        color: #D5EEBB;
    }
    /* responsive nav */
    
    .nav__container {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: flex-start;
    }
    
    .nav__img {
        display: block;
        width: 35px;
        cursor: pointer;
    }
    
    .nav__items {
        width: 80%;
        border: 1px solid black;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 280px;
        z-index: 5;
        transform: translateY(-200%);
        transition: opacity .2s ease-in;
        opacity: 0.5;
    }
    
     :checked+.nav__items {
        transform: translateX(0);
        opacity: 1;
    }
    
    .nav__checkbox {
        display: none;
    }
    /* fin estilos nav */
    /* estilos index */
    
    .grid__container {
        margin: 3rem auto;
        width: 75%;
        height: 35rem;
        display: grid;
        grid-template-columns: [column-start]1fr[column-end];
        grid-template-rows: [row-start] 1fr 4fr 1fr [row-end];
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    }
    
    .grid__fig {
        width: 100%;
        overflow: hidden;
        animation: showimg 1s .5s ease-in-out forwards;
        clip-path: inset( 0 100% 0 0);
    }
    
    @keyframes showimg {
        to {
            clip-path: inset(0 0 0 0);
        }
    }
    
    .grid__img {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: auto;
        object-fit: cover;
    }
    
    .grid__title {
        width: 100%;
        text-align: center;
        color: var(--color-secondary);
        font-size: 1.5rem;
        font-weight: 600;
        font-family: 'Noto Sans JP', sans-serif;
        animation: showT 1s ease-out forwards;
        clip-path: inset( 0 100% 0 0);
    }
    
    @keyframes showT {
        to {
            clip-path: inset( 0 0 0 0);
        }
    }
    
    .grid__text {
        grid-column: column;
        text-align: center;
        padding: 1rem;
        color: var(--color-secondary);
        text-shadow: 1px 1px 8px whitesmoke;
        font-size: 3.5rem;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        animation: show 1s ease-out forwards;
        clip-path: inset( 0 0 0 100%);
    }
    
    @keyframes show {
        to {
            clip-path: inset(0 0 0 0);
        }
    }
    /* Grid card */
    
    .grid__card {
        width: 75%;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
    
    .grid__card::after {
        content: "";
        background-image: url(../img/gridcard.jpg);
        background-size: cover;
        background-position: center;
        grid-row: 1/-1;
        grid-column: 1/4;
    }
    
    .card__content {
        background-color: var(--color-secondary);
        grid-column: 3/6;
        grid-row: 3/-3;
        padding: 3rem;
        z-index: 3;
        line-height: 1.5;
    }
    
    .card__content:hover {
        box-shadow: 7px 9px 5px -1px rgba(0, 0, 0, 0.53);
        transition: .4s;
    }
    
    .grid__card2 {
        width: 75%;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
    
    .grid__card2::after {
        content: "";
        background-image: url(../img/gridcard2.jpg);
        background-size: cover;
        background-position: center;
        grid-row: 1/-1;
        grid-column: 3/6;
    }
    
    .card__content2 {
        background-color: var(--color-secondary);
        grid-column: 1/4;
        grid-row: 3/-3;
        padding: 3rem;
        z-index: 3;
        line-height: 1.5;
    }
    
    .card__content2:hover {
        box-shadow: -9px 11px 5px -1px rgba(0, 0, 0, 0.53);
        transition: .4s;
    }
    
    .card__h2 {
        font-size: 2.5rem;
        color: #fff;
    }
    
    .card__gtext {
        color: #fff;
        font-size: 1.5rem;
        margin: 1rem;
    }
    
    .card__button {
        display: inline-block;
        padding: 1rem;
        font-size: 1.4rem;
        color: black;
        background: #fff;
    }
    /* estilos galeria */
    
    .title_gallery {
        font-size: 3.2rem;
        color: var(--color-secondary);
        text-align: center;
        margin-top: 5rem;
        font-family: 'Noto Sans JP', sans-serif;
        animation: fadein .7s ease-in both;
    }
    
    @keyframes fadein {
        from {
            opacity: 0;
            font-size: 3rem;
            transform: translateY(-30px);
        }
        to {
            opacity: 1;
        }
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        margin: 8rem auto;
        gap: 2rem;
        flex: 1;
        justify-content: space-evenly;
    }
    
    .card {
        width: 230px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
    }
    
    .card__figure {
        width: 100%;
        max-height: 160px;
        max-width: 250px;
    }
    
    .card__img {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 170px;
        object-fit: cover;
    }
    
    .card__title {
        color: var(--color-secondary);
    }
    
    .card__texts {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        padding: 1.5rem;
        font-size: 1.4rem;
    }
    /* fin estilos index*

/* Estilos productos */
    
    .container__grid {
        display: grid;
        margin: 4rem auto;
        width: 80%;
        grid-template-columns: 180px 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    
    .grid__item {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    
    .grid__item2 {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: start;
        margin: 0 auto;
    }
    
    .grid__item2 .card:hover {
        box-shadow: 1px 7px 13px -4px rgba(0, 0, 0, 0.59);
        transform: translateY(-15px);
        transition: all .3s;
    }
    
    .grid__item2 .card {
        width: 100%;
        height: 350px;
        max-width: 200px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
    }
    
    .grid__item2 .card__figure {
        height: 20rem;
        max-height: 160px;
        max-width: 200px;
    }
    
    .btn {
        display: block;
        background: var(--color-secondary);
        color: #fff;
        text-align: center;
        width: 13rem;
        padding: 1rem;
        border-radius: 5px;
        font-weight: 500;
        margin-top: auto;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
    }
    
    .btn:hover {
        background: var(--color-primary);
        transition: .5s;
    }
    
    .section__link {
        display: block;
        text-align: center;
        color: rgb(17, 17, 17);
        background-color: #fff;
        font-size: 2rem;
        text-decoration: none;
        line-height: 4rem;
        padding: 0 2rem;
        border: 1px solid rgb(190, 189, 189);
        transition: all .4s;
    }
    
    .section__link:hover {
        color: #fff;
        background-color: var(--color-primary);
    }
    
    .section__link:first-child {
        margin-top: 50px;
    }
    
    h3 {
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(161, 157, 157);
    }
    
    .card__p {
        margin-top: 5px;
    }
    /* fin Estilos productos */
    /* estilos contact.html */
    
    .form {
        margin: 50px auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 380px;
        height: 400px;
        border-radius: 20px;
        background: var(--color-background);
        line-height: 30px;
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.767);
        z-index: 10;
    }
    
    .input {
        width: 250px;
        height: 30px;
        background-color: #d2d3d2;
        outline: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .input__form {
        border-radius: 5px;
        width: 250px;
        height: 35px;
        line-height: 22px;
        margin: 7px auto;
        font-weight: 600;
        font-family: 'Noto Sans JP', sans-serif;
        cursor: pointer;
    }
    
    .input__form:hover {
        background: black;
        color: #fff;
    }
    
    label {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }
    
    .select {
        margin: 5px auto;
    }
    /* fin estilos contact */
    /* Estilos about.html */
    
    .paragraph {
        position: absolute;
        top: calc(270px - 75%);
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        color: #fff;
        text-shadow: 3px 3px 10px var(--color-secondary);
    }
    
    .hero {
        position: relative;
        width: 75%;
        height: 270px;
        margin: 3rem auto;
        overflow: auto;
        background-image: url(../img/charles-forerunner.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    .title__sub {
        width: 75%;
        display: block;
        margin: 2rem auto;
        font-size: 3rem;
    }
    
    .card__about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        width: 80%;
        margin: 2rem auto;
    }
    
    .content {
        width: 230px;
        height: 200px;
        padding: 15px;
        line-height: 2;
        color: whitesmoke;
        background: #232526;
        border-radius: 4px;
        background-image: linear-gradient(#5569578a, rgba(70, 67, 67, 0.513)), url(../img/bg1.jpg);
        background-size: cover;
    }
    
    .card2 {
        background-image: linear-gradient(#5569578a, rgba(70, 67, 67, 0.513)), url(../img/bg2.jpg);
    }
    
    .card3 {
        background-image: linear-gradient(#5569578a, rgba(70, 67, 67, 0.513)), url(../img/bg3.jpg);
    }
    
    .content:hover {
        transform: translateY(-10px);
        transition: .3s ease;
        box-shadow: -1px 17px 17px -7px rgba(0, 0, 0, 0.75);
    }
    
    .ctitle {
        position: relative;
    }
    
    .ctitle::after {
        content: "";
        position: absolute;
        background: var(--color-background);
        height: 4px;
        width: 100%;
        left: -15px;
        bottom: 0;
        transform: scaleX(0);
        transition: transform .3s ease;
        transform-origin: left;
    }
    
    .content:hover .ctitle::after {
        transform: scaleX(1.05);
    }
    
    .ctext {
        font-size: 1.2rem;
    }
    
    .about__article {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        margin: 4rem auto;
    }
    
    .article__title {
        text-align: center;
        font-size: 3rem;
        margin: 2rem;
    }
    
    .about__content {
        position: relative;
        width: 220px;
        height: 300px;
        background-color: var(--color-primary);
        border-radius: 10px;
        box-shadow: 0 0 5px black;
    }
    
    .about__content::before {
        content: "";
        width: 220px;
        height: 260px;
        position: absolute;
        bottom: 0;
        background-color: white;
        border-radius: 10px;
    }
    
    .content--grid {
        position: relative;
        grid-column: 3/16;
        background-color: var(--color-primary);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 5px black;
    }
    
    .content--grid::before {
        content: "";
        position: absolute;
        grid-column: 3/16;
        width: 100%;
        height: 260px;
        bottom: 0;
        border-radius: 10px;
        background-color: white;
    }
    /* fin estilos about.html */
    /* Estilos locales.html */
    
    .div {
        display: block;
        width: 260px;
        height: 310px;
        margin: 100px auto;
        border: 5px groove #5F7A61;
    }
    
    .map {
        width: 250px;
        height: 300px;
    }
    /* fin stilos locales.html */
    /* Estilos footer */
    
    .footer {
        background: linear-gradient(0deg, rgba(68, 73, 65, 1) 0%, rgba(68, 73, 65, 1) 30%, rgba(58, 65, 56, 1) 52%, rgba(95, 122, 97, 1) 100%);
        width: 100%;
        height: 250px;
    }
    
    .footer__flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    
    .footer__logo {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .footer__logo a {
        text-shadow: 1px 1px 10px black;
        color: white;
        font-size: 5rem;
    }
    
    .footer__logo:hover a {
        text-shadow: 2px 2px 15px black;
        transition: .4s;
        color: rgb(151, 223, 187);
    }
    
    .footer__logo p {
        color: white;
        text-shadow: 1px 1px 10px black;
        font-size: 1.5em;
        line-height: 20px;
    }
    
    .footer__title {
        font-weight: 500;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-bottom: 1rem;
        color: white;
        text-shadow: 1px 1px 10px black;
    }
    
    .footer__title2 {
        margin-top: 8px;
        font-weight: 500;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 10px black;
    }
    
    .footer__net {
        /* redes */
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 250px;
    }
    
    .redes {
        display: flex;
        justify-content: space-around;
    }
    
    .redes a {
        color: white;
        font-size: 1.3em;
    }
    
    .net {
        width: 4rem;
    }
    
    .net img {
        width: 100%;
        color: white;
        filter: drop-shadow(1px 1px 20px black);
    }
    
    .imgtd {
        width: 20px;
        margin-right: 10px;
    }
    
    td {
        display: inline-block;
    }
    /* Fin estilos footer */
    /* responsive */
    
    @media screen and (max-width: 425px) {
        /* nav */
        .nav__ul {
            display: none;
        }
        .nav {
            display: flex;
            align-items: center;
            width: 80%;
            margin: 0 auto;
        }
        .nav__container {
            display: flex;
            margin-left: 2rem;
        }
        .nav__link {
            padding: 10px 40px;
        }
        /* grid cards index */
        .grid__card2,
        .grid__card {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .grid__card2::after,
        .card__content2,
        .grid__card::after,
        .card__content {
            grid-column: span 1;
            grid-row: span 1;
        }
        .title_gallery {
            font-size: 2.3rem;
        }
        /* responsive footer */
        .footer {
            height: 500px;
        }
        .footer__flex {
            flex-direction: column;
        }
        /* responsive productos */
        .container__grid {
            margin: 0 auto;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .grid__item {
            margin-bottom: 5px;
        }
        .grid__item a {
            margin: 0 auto;
            width: 170px;
            height: 35px;
            font-size: 1.5rem;
        }
        .grid__item2 {
            justify-content: space-evenly;
        }
        /* about */
        .paragraph {
            font-size: 2.2rem;
        }
        /* form */
        .form {
            width: 300px;
            height: 400px;
        }
    }
    
    @media screen and (max-width:700px) {
        .nav__ul {
            display: none;
        }
        .nav {
            display: flex;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            border-bottom: 3px solid black;
        }
        .nav__container {
            display: flex;
            margin-left: 2rem;
        }
        .nav__link {
            padding: 10px 40px;
        }
        /* responsive footer */
        .footer {
            margin-top: 2rem;
            height: 500px;
        }
        .footer__flex {
            flex-direction: column;
        }
    }